body {display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 60px;
}

.game {
    border-radius: 10px;
    border: 6px solid black;
    margin: 0;
    background-image: url();
    color: goldenrod;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.game>div {
    border-radius: 2px;
    border: 6px solid Black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: green;
    color: white;
    margin: 0;
}

.game>div.winner {
    background: rgb(1, 255, 22);
    outline-color: solid rgb(228, 11, 11) 2px;
}

.game>div.winner>span {
    color: rgb(255, 255, 255);
    outline-color: rgb(14, 14, 197);
}