body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.game>div {
  border: 6px solid #2c3e50;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 5px solid #2c3e50;
  background-color: #34495e;
  color: white;
  margin-top: 10px;
  padding: 10px 20px
}

.game > div.winner {
  background: yellow;
}

.game > div.winner > span {
  color: blue;
}

@media (min-width: 600px) {
  .game {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    border: 6px solid #2c3e50;
  }

  .game>div {
    border-radius: 2px;
  }
}

@media (min-width: 1024px) {
  .btn {
    cursor: pointer
  }
}