* {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(./images/Scroll.png);
    background-size: contain;
    background-repeat: no-repeat;
}

table,
tbody,
tr,
td {
    text-align: left;
    width: auto;
    height: auto;
}

#footer {
    bottom: 25px;
    left: 25px;
    position: absolute;
    right: 25px;
}

#settings {
    position: absolute;
    right: 25px;
    top: 25px;
}